
services:
  db:
    image: postgres:17
    container_name: ecommerce_db
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: ecommerce_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build: .
    container_name: ecommerce_web
    command: uv run python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - /app/.venv
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env


  celery_worker:
    build: .
    container_name: ecommerce_celery_worker
    command: uv run celery -A django_ecommerce_api worker --loglevel=info
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      - db
      - redis
      - web
    env_file:
      - .env


  celery_beat:
    build: .
    container_name: ecommerce_celery_beat
    command: uv run celery -A django_ecommerce_api beat --loglevel=info
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      - db
      - redis
      - web
    env_file:
      - .env
   

  flower:
    build: .
    container_name: ecommerce_flower
    command: uv run celery -A django_ecommerce_api flower
    ports:
      - "5555:5555"
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      - redis
      - celery_worker
    env_file:
      - .env


  prometheus:
    image: prom/prometheus:latest
    container_name: ecommerce_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'

  grafana:
    image: grafana/grafana:latest
    container_name: ecommerce_grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus

volumes:
  postgres_data:
  prometheus_data:
  grafana_data: